body {
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container1 {
    margin-top: 20px;
    margin-bottom: 200px;
}

.container1,
.container2 {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100px;
    position: relative;
}

.box2 {
    margin: 0px 100px;
}

.box1,
.box2,
.box3 {
    padding: 5px;
    width: 350px;
}

button {
    height: 35px;
    width: 200px;
}

.btn1 {
    background-color: red;
    color: white;
}

.btn2 {
    background-color: orange;
    color: white;
}

.btn3 {
    background-color: black;
    color: white;
}

.btn4 {
    background-color: rgb(34, 137, 172);
    color: white;
}

input {
    height: 35px;
    width: 200px;
}

.input1 {
    background-color: lightcoral;
}